Repository JobDoesburg/landolfio: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pydocstyle, pylint

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort -i
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

pylint:
  name: pylint
  entry: poetry run pylint -j 4
  language: system

Refactor moneybird sync
  website/accounting/api/views.py
  website/accounting/migrations/0001_initial.py
  website/accounting/migrations/0002_alter_documentline_asset.py
  website/accounting/migrations/0002_alter_documentline_document.py
  website/accounting/models.py
  website/accounting/moneybird/models.py
  website/accounting/moneybird/resource_types.py
  website/accounting/moneybird/resources.py
  website/accounting/moneybird/synchronization.py
  website/accounting/moneybird_resources.py
  website/accounting/services.py
  website/inventory/models.py
Due: pydocstyle, pylint

Add fields to data model and bugfixes
  website/accounting/admin.py
  website/accounting/migrations/0001_initial.py
  website/accounting/migrations/0002_alter_documentline_document.py
  website/accounting/migrations/0003_alter_ledger_options_ledger_account_type.py
  website/accounting/migrations/0004_alter_ledger_account_type.py
  website/accounting/migrations/0005_alter_ledger_account_type.py
  website/accounting/migrations/0006_journaldocument_contact.py
  website/accounting/migrations/0007_contact_company_name_contact_email_and_more.py
  website/accounting/migrations/0008_alter_contact_moneybird_id_and_more.py
  website/accounting/migrations/0009_alter_contact_moneybird_json_and_more.py
  website/accounting/models.py
  website/accounting/moneybird/models.py
  website/accounting/moneybird/resource_types.py
  website/accounting/moneybird_resources.py
Due: pydocstyle, pylint

Add estimates
  website/accounting/admin.py
  website/accounting/migrations/0001_initial.py
  website/accounting/migrations/0002_alter_documentline_document.py
  website/accounting/migrations/0002_estimatedocumentline_moneybird_version.py
  website/accounting/migrations/0003_alter_ledger_options_ledger_account_type.py
  website/accounting/migrations/0003_remove_estimatedocumentline_moneybird_version_and_more.py
  website/accounting/migrations/0004_alter_estimate_date_alter_journaldocument_date.py
  website/accounting/migrations/0004_alter_ledger_account_type.py
  website/accounting/migrations/0005_alter_ledger_account_type.py
  website/accounting/migrations/0006_journaldocument_contact.py
  website/accounting/migrations/0007_contact_company_name_contact_email_and_more.py
  website/accounting/migrations/0008_alter_contact_moneybird_id_and_more.py
  website/accounting/migrations/0009_alter_contact_moneybird_json_and_more.py
  website/accounting/models.py
  website/accounting/moneybird_resources.py
  website/accounting/services.py
  website/inventory/admin.py
  website/inventory/models.py
Due: pydocstyle, pylint

Add logging
  website/accounting/admin.py
  website/accounting/migrations/0005_alter_estimate_options_and_more.py
  website/accounting/models.py
  website/accounting/moneybird/administration.py
  website/accounting/moneybird/synchronization.py
  website/accounting/moneybird_resources.py
  website/accounting/services.py
  website/inventory/models.py
  website/website/settings/development.py
Due: pydocstyle, pylint

Add recurring sales invoices
  website/accounting/admin.py
  website/accounting/migrations/0006_recurringsalesinvoice_and_more.py
  website/accounting/models.py
  website/accounting/moneybird_resources.py
  website/accounting/services.py
  website/inventory/models.py
Due: pydocstyle, pylint

Add workflows
  website/accounting/admin.py
  website/accounting/migrations/0007_workflow_estimate_workflow_journaldocument_workflow_and_more.py
  website/accounting/migrations/0008_alter_estimate_workflow_and_more.py
  website/accounting/models.py
  website/accounting/moneybird_resources.py
  website/accounting/services.py
Due: pydocstyle, pylint

Improvements
  website/accounting/admin.py
  website/accounting/management/__init__.py
  website/accounting/management/commands/__init__.py
  website/accounting/management/commands/moneybirdsync.py
  website/accounting/migrations/0009_journaldocument_total_paid_and_more.py
  website/accounting/migrations/0010_estimate_total_price_and_more.py
  website/accounting/migrations/0011_alter_estimate_workflow_and_more.py
  website/accounting/migrations/0012_alter_estimate_total_price_and_more.py
  website/accounting/migrations/0013_alter_estimate_workflow_and_more.py
  website/accounting/models.py
  website/accounting/moneybird_resources.py
  website/accounting/services.py
Due: pydocstyle, pylint

Calculations
  website/accounting/migrations/0014_alter_journaldocumentline_document.py
  website/accounting/migrations/0015_alter_journaldocumentline_asset_and_more.py
  website/accounting/migrations/0016_ledger_is_margin_ledger_is_sales.py
  website/accounting/migrations/0017_ledger_is_purchase.py
  website/accounting/models.py
  website/accounting/moneybird_resources.py
  website/accounting/services.py
  website/inventory/admin.py
  website/inventory/models.py
Due: pydocstyle, pylint

moneybird resource types as strings
  website/accounting/moneybird/administration.py
  website/accounting/moneybird/resource_types.py
  website/accounting/moneybird/synchronization.py
  website/accounting/services.py
  website/inventory/models.py
  website/website/settings/common.py
Due: pydocstyle, pylint

Webhooks
  website/accounting/moneybird/resource_types.py
  website/accounting/moneybird/synchronization.py
  website/accounting/moneybird/urls.py
  website/accounting/moneybird/views.py
  website/accounting/moneybird/webhooks.py
  website/accounting/moneybird_resources.py
  website/website/settings/common.py
  website/website/urls.py
Due: pydocstyle, pylint

Refactor to separate app
  website/accounting/migrations/0018_alter_journaldocumentline_ledger.py
  website/accounting/models.py
  website/accounting/moneybird_resources.py
  website/accounting/services.py
  website/inventory/migrations/0005_remove_asset_moneybird_state.py
  website/moneybird/__init__.py
  website/moneybird/administration.py
  website/moneybird/management/__init__.py
  website/moneybird/management/commands/__init__.py
  website/moneybird/management/commands/deletemoneybirdwebhook.py
  website/moneybird/management/commands/listmoneybirdwebhooks.py
  website/moneybird/management/commands/moneybirdsync.py
  website/moneybird/management/commands/registermoneybirdwebhook.py
  website/moneybird/models.py
  website/moneybird/resource_types.py
  website/moneybird/synchronization.py
  website/moneybird/urls.py
  website/moneybird/views.py
  website/moneybird/webhooks.py
  website/website/settings/common.py
  website/website/urls.py
Due: pydocstyle, pylint

Refactor document_lines foreign key
  website/accounting/moneybird_resources.py
  website/moneybird/resource_types.py
Due: pydocstyle, pylint

Write on save
  website/accounting/moneybird_resources.py
  website/moneybird/administration.py
  website/moneybird/models.py
  website/moneybird/resource_types.py
  website/moneybird/webhooks.py
Due: pydocstyle, pylint

Fix writing
  website/accounting/moneybird_resources.py
  website/moneybird/models.py
  website/moneybird/resource_types.py
Due: pydocstyle, pylint

Sync document lines
  website/accounting/moneybird_resources.py
  website/moneybird/administration.py
  website/moneybird/models.py
  website/moneybird/resource_types.py
Due: pydocstyle, pylint

Improve code quality
  website/accounting/models.py
  website/moneybird/models.py
  website/moneybird/resource_types.py
Due: pydocstyle, pylint

Bug fixes
  website/accounting/moneybird_resources.py
  website/moneybird/models.py
  website/moneybird/resource_types.py
Due: pydocstyle, pylint

Fix double saving
  website/accounting/admin.py
  website/moneybird/models.py
  website/moneybird/resource_types.py
Due: pydocstyle, pylint

Cleanup code
  website/moneybird/models.py
Due: pydocstyle, pylint

Various improvements
  website/accounting/admin.py
  website/accounting/models.py
  website/accounting/moneybird_resources.py
  website/moneybird/administration.py
  website/moneybird/models.py
  website/moneybird/resources.py
  website/website/settings/common.py
Due: pydocstyle, pylint

Improve admin
  poetry.lock
  pyproject.toml
  website/accounting/admin.py
  website/accounting/migrations/0019_project_taxrate_journaldocumentline_amount_and_more.py
  website/accounting/migrations/0020_alter_journaldocumentline_asset_and_more.py
  website/accounting/migrations/0021_remove_ledger_ledger_kind.py
  website/accounting/models.py
  website/accounting/moneybird_resources.py
  website/inventory/admin.py
  website/inventory/migrations/0006_remove_asset_purchasing_value_and_more.py
  website/inventory/models.py
  website/website/settings/common.py
Due: toml-sort, pydocstyle, pylint

Add subscriptions
  website/accounting/admin.py
  website/accounting/migrations/0022_documentstyle_subscription_asset_and_more.py
  website/accounting/migrations/0023_subscription_recurring_sales_invoice.py
  website/accounting/models.py
  website/accounting/moneybird_resources.py
  website/inventory/migrations/0006_remove_asset_purchasing_value_and_more.py
  website/inventory/models.py
  website/moneybird/administration.py
  website/moneybird/models.py
  website/moneybird/resource_types.py
  website/moneybird/resources.py
  website/moneybird/synchronization.py
  website/website/settings/common.py
Due: pydocstyle, pylint

Refactor code cleaning
  website/accounting/admin/__init__.py
  website/accounting/admin/admin.py
  website/accounting/admin/contact.py
  website/accounting/admin/document_style.py
  website/accounting/admin/product.py
  website/accounting/admin/project.py
  website/accounting/admin/tax_rate.py
  website/accounting/migrations/0005_remove_contact_moneybird_json.py
  website/accounting/models/contact.py
  website/accounting/models/estimate.py
  website/accounting/models/journal_document.py
  website/accounting/models/ledger_account.py
  website/accounting/models/product.py
  website/accounting/models/recurring_sales_invoice.py
  website/accounting/models/subscription.py
  website/moneybird/models.py
  website/moneybird/resource_types.py
  website/moneybird/resources.py
  website/website/settings/common.py
Due: pydocstyle, pylint

Bug fixes
  website/accounting/admin/__init__.py
  website/accounting/admin/general_journal_document.py
  website/accounting/admin/purchase_document.py
  website/accounting/admin/sales_invoice.py
  website/accounting/apps.py
  website/accounting/migrations/0001_initial.py
  website/accounting/migrations/0002_subscription.py
  website/accounting/migrations/0003_contact_address_1_contact_address_2_and_more.py
  website/accounting/migrations/0004_alter_contact_country.py
  website/accounting/migrations/0005_remove_contact_moneybird_json.py
  website/accounting/models/__init__.py
  website/accounting/models/document_style.py
  website/accounting/models/general_journal_document.py
  website/accounting/models/journal_document.py
  website/accounting/models/purchase_document.py
  website/accounting/models/sales_invoice.py
  website/inventory/signals.py
  website/moneybird/models.py
  website/moneybird/resource_types.py
  website/website/settings/common.py
Due: pydocstyle, pylint

Further improvements
  poetry.lock
  pyproject.toml
  website/accounting/admin/contact.py
  website/accounting/admin/document_style.py
  website/accounting/admin/estimate.py
  website/accounting/admin/general_journal_document.py
  website/accounting/admin/ledger_account.py
  website/accounting/admin/product.py
  website/accounting/admin/project.py
  website/accounting/admin/purchase_document.py
  website/accounting/admin/recurring_sales_invoice.py
  website/accounting/admin/sales_invoice.py
  website/accounting/admin/subscription.py
  website/accounting/admin/tax_rate.py
  website/accounting/admin/workflow.py
  website/accounting/migrations/0027_remove_estimatedocumentline_asset_and_more.py
  website/accounting/models/estimate.py
  website/accounting/models/journal_document.py
  website/accounting/models/ledger_account.py
  website/accounting/models/recurring_sales_invoice.py
  website/accounting/models/subscription.py
  website/inventory/admin/__init__.py
  website/inventory/admin/asset.py
  website/inventory/admin/assets_on_document_lines.py
  website/inventory/admin/other.py
  website/inventory/migrations/0010_assetonjournaldocumentline_asset_estimates_and_more.py
  website/inventory/migrations/0011_alter_assetonjournaldocumentline_asset_and_more.py
  website/inventory/migrations/0012_remove_assetonjournaldocumentline_value.py
  website/inventory/migrations/0013_assetonestimatedocumentline_and_more.py
  website/inventory/models/asset.py
  website/inventory/signals.py
  website/moneybird/admin.py
  website/moneybird/models.py
  website/moneybird/resource_types.py
  website/moneybird/resources.py
Due: toml-sort, pydocstyle, pylint

Fix postgres volume
  docker-compose.yaml
Due: none

Fix poetry script
  Dockerfile
Due: none

Fix poetry path
  Dockerfile
Due: none

Remove broken dependency
  landolfio/inventory/admin/asset.py
  landolfio/website/settings/common.py
  poetry.lock
  pyproject.toml
Due: toml-sort, pydocstyle, pylint

Add uwsgi dependency
  poetry.lock
  pyproject.toml
Due: toml-sort

Fix deployment settings
  docker-compose.yaml
  entrypoint.sh
Due: none

Fix ninox import app
  landolfio/ninox_import/__init__.py
  landolfio/ninox_import/apps.py
  landolfio/ninox_import/ninox_sync.py
Due: pydocstyle, pylint

Improve dockerfile
  Dockerfile
Due: none

Fix imports?
  landolfio/website/settings/production.py
Due: pydocstyle, pylint

Fix static and media root
  landolfio/website/settings/production.py
Due: pydocstyle, pylint

Path conditions:
  toml-sort: any of: \.toml$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
