Repository JobDoesburg/landolfio: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pydocstyle, pylint

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort -i
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

pylint:
  name: pylint
  entry: poetry run pylint -j 4
  language: system

Add deadline to feature issue template
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Update and rename bug_report.md to bug_report.yaml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Add estimate / deadline to template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Add Mockdata in Readme
  README.md
Due: none

Add mock data
  website/inventory/fixtures/assets.yaml
Due: none

Fixtures in Test Cases
  website/inventory/test_models.py
Due: pydocstyle, pylint

Revert "Update and rename bug_report.md to bug_report.yaml"
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yaml
Due: none

Add the actual hours to the bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Fix the ASGI and WSGI file
  website/website/asgi.py
  website/website/wsgi.py
Due: pydocstyle, pylint

Add the MB config variables in .env.example
  .env.example
Due: none

Fix test class naming
  website/accounting/moneybird/test_administration.py
  website/accounting/moneybird/test_get_changes.py
  website/accounting/test_models.py
  website/inventory/test_models.py
Due: pydocstyle, pylint

Extend the accounting app's doc-comment
  website/accounting/__init__.py
Due: pydocstyle, pylint

Added template for code quality issue
  .github/ISSUE_TEMPLATE/code_quality.md
Due: none

Fix #84 and add a regression test
  website/accounting/moneybird/get_changes.py
  website/accounting/moneybird/test_get_changes.py
Due: pydocstyle, pylint

Split documents into separate lines
  website/accounting/migrations/0003_documentline.py
  website/accounting/models.py
  website/accounting/sync_database.py
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Register DocumentLine model in the admin interface
  website/accounting/admin.py
Due: pydocstyle, pylint

Refactor document kinds
  website/accounting/models.py
  website/accounting/moneybird/administration.py
  website/accounting/moneybird/get_changes.py
  website/accounting/moneybird/test_get_changes.py
  website/accounting/sync_database.py
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Fix small mistake in MockAdministration
  website/accounting/moneybird/administration.py
Due: pydocstyle, pylint

Use the DocKind enum instead of literal strings
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Make 'choices' a class property
  website/accounting/models.py
  website/accounting/moneybird/get_changes.py
Due: pydocstyle, pylint

Add tests for the DocKind enum
  website/accounting/moneybird/test_get_changes.py
Due: pydocstyle, pylint

Make DocKind an enum class
  website/accounting/models.py
  website/accounting/moneybird/get_changes.py
  website/accounting/moneybird/test_get_changes.py
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Add the database synchronization hook
  website/accounting/api/__init__.py
  website/accounting/api/urls.py
  website/accounting/api/views.py
  website/website/urls.py
Due: pydocstyle, pylint

Change the id_MB field on Document to a big int
  website/accounting/migrations/0002_document_documentline_delete_invoice_delete_receipt.py
  website/accounting/migrations/0003_documentline.py
  website/accounting/models.py
Due: pydocstyle, pylint

Squash all migrations
  website/accounting/migrations/0001_initial.py
  website/accounting/migrations/0002_document_documentline_delete_invoice_delete_receipt.py
  website/inventory/migrations/0001_initial.py
  website/inventory/migrations/0002_alter_asset_options_alter_assetstate_options_and_more.py
Due: pydocstyle, pylint

Add a foreign key to Asset in Document Line
  website/accounting/migrations/0004_documentline_asset.py
  website/accounting/models.py
  website/accounting/sync_database.py
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Cleanup Asset model
  website/accounting/test_models.py
  website/inventory/fixtures/assets.yaml
  website/inventory/migrations/0003_remove_asset_old_id_alter_asset_id.py
  website/inventory/models.py
  website/inventory/test_models.py
Due: pydocstyle, pylint

Extend ID-extraction tests
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Add a __str__ method to DocumentLine
  website/accounting/models.py
Due: pydocstyle, pylint

Fix migrations
  website/accounting/migrations/0002_documentline_asset.py
  website/inventory/migrations/0002_remove_asset_old_id_alter_asset_id.py
Due: pydocstyle, pylint

Fix bug in the description parser and add tests
  website/accounting/sync_database.py
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Specify the media root just like the static root
  .gitignore
  website/website/settings/common.py
Due: pydocstyle, pylint

Make psycopg2 optional and add optionals to production
  Dockerfile
  poetry.lock
  pyproject.toml
Due: toml-sort

Unregister Group model and Add custom User model
  website/users/__init__.py
  website/users/admin.py
  website/users/apps.py
  website/users/migrations/0001_initial.py
  website/users/migrations/__init__.py
  website/users/models.py
  website/website/settings/common.py
Due: pydocstyle, pylint

Update outdated poetry.lock
  poetry.lock
Due: none

Fix bug in development settings
  website/website/settings/development.py
Due: pydocstyle, pylint

#41 add related Documents to Asset
  website/accounting/models.py
  website/inventory/admin.py
  website/inventory/models.py
  website/inventory/test_models.py
Due: pydocstyle, pylint

Move the extra information out of the Asset model
  website/accounting/models.py
  website/inventory/admin.py
  website/inventory/models.py
  website/inventory/templates/admin/inventory/asset/change_form.html
  website/inventory/test_models.py
Due: pydocstyle, pylint

Updated tests and database model
  website/accounting/models.py
  website/accounting/test_models.py
  website/inventory/admin.py
  website/inventory/fixtures/assets.yaml
  website/inventory/models.py
  website/inventory/test_models.py
Due: pydocstyle, pylint

Addressed Stef's comments
  website/inventory/migrations/0004_alter_asset_mb_state_alter_asset_local_state.py
  website/inventory/models.py
Due: pydocstyle, pylint

Path conditions:
  toml-sort: any of: \.toml$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
