Repository JobDoesburg/landolfio: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pydocstyle, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: ["--branch", "main", "--branch", "development"]

  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
      - id: reorder-python-imports

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: ea782651a7e32f40a3d13b76c79d5a2474ee8723
    hooks:
      - id: prettier
        types_or: [css, javascript, ts, yaml, markdown]

  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: toml-sort
        name: toml-sort
        entry: poetry run toml-sort -i
        language: system
        types: [toml]

      - id: pydocstyle
        name: pydocstyle
        entry: poetry run pydocstyle
        language: system
        types: [python]

      - id: pylint
        name: pylint
        entry: poetry run pylint -j 4
        language: system
        types: [python]

Add a badge to indicate linting and testing status
  README.md
Due: none

Change GH workflow to also run tests on pushes
  .github/workflows/ci.yaml
Due: none

Remove hook that blocks commits to main and dev
  .pre-commit-config.yaml
Due: none

Implement basic wrapper
  poetry.lock
  pyproject.toml
  website/website/moneybird_wrapper/__init__.py
  website/website/moneybird_wrapper/moneybird_wrapper.py
Due: toml-sort, pydocstyle, pylint

Change the CI to use the development settings
  .github/workflows/ci.yaml
Due: none

Add requirements for easy deployment
  .env.example
  Caddyfile
  Dockerfile
  docker-compose.yaml
  poetry.lock
  pyproject.toml
  website/website/settings/common.py
  website/website/settings/production.py
Due: toml-sort, pydocstyle, pylint

Change caddyfile to use the .env for the hostname
  Caddyfile
  docker-compose.yaml
Due: none

Fix a bug in the CI
  .github/workflows/ci.yaml
Due: none

Add tests for the settings
  website/website/tests/test_settings.py
Due: pydocstyle, pylint

Change README to include selecting the settings
  README.md
Due: none

Make the settings test more readable
  website/website/tests/test_settings.py
Due: pydocstyle, pylint

Change the docker image to run migrations on start
  Dockerfile
Due: none

Separate settings for production and development
  README.md
  website/manage.py
  website/website/settings/__init__.py
  website/website/settings/common.py
  website/website/settings/development.py
  website/website/settings/production.py
Due: pydocstyle, pylint

Add a workflow to build and push the image (#36)
  .github/workflows/build-and-push.yaml
  README.md
Due: none

Create Asset/Accounting app + models
  pyproject.toml
  website/accounting/__init__.py
  website/accounting/admin.py
  website/accounting/apps.py
  website/accounting/migrations/0001_initial.py
  website/accounting/migrations/__init__.py
  website/accounting/models.py
  website/assets/__init__.py
  website/assets/admin.py
  website/assets/apps.py
  website/assets/migrations/0001_initial.py
  website/assets/migrations/__init__.py
  website/assets/models.py
  website/website/settings/common.py
Due: toml-sort, pydocstyle, pylint

Meet new style requirements
  website/website/moneybird_wrapper/moneybird_wrapper.py
Due: pydocstyle, pylint

Make load_documents private
  website/website/moneybird_wrapper/moneybird_wrapper.py
Due: pydocstyle, pylint

Use list comprehension for ids
  website/website/moneybird_wrapper/moneybird_wrapper.py
Due: pydocstyle, pylint

Flip relations
  website/accounting/admin.py
  website/accounting/migrations/0002_invoice_asset_receipt_asset.py
  website/accounting/models.py
  website/assets/migrations/0002_remove_asset_invoice_remove_asset_receipt_and_more.py
  website/assets/models.py
Due: pydocstyle, pylint

Add basic test functionality
  website/assets/test_models.py
Due: pydocstyle, pylint

Add accounting tests
  website/accounting/test_models.py
Due: pydocstyle, pylint

Asset test case
  website/assets/test_models.py
Due: pydocstyle, pylint

Add tests for MoneybirdWrapper
  website/website/moneybird_wrapper/test_moneybird_wrapper.py
Due: pydocstyle, pylint

Increase line coverage with tests
  website/website/moneybird_wrapper/test_moneybird_wrapper.py
Due: pydocstyle, pylint

Move the tests closer to the files tested
  website/website/settings/test_development.py
  website/website/settings/test_production.py
  website/website/test_asgi.py
  website/website/test_wsgi.py
  website/website/tests/__init__.py
Due: pydocstyle, pylint

Fix spelling errors
  website/accounting/models.py
  website/accounting/test_models.py
  website/assets/models.py
  website/assets/test_models.py
Due: pydocstyle, pylint

Minor final changes
  website/accounting/migrations/0003_alter_invoice_options_alter_receipt_options.py
  website/accounting/models.py
  website/assets/migrations/0003_alter_asset_options_alter_assetstate_options_and_more.py
Due: pydocstyle, pylint

Change the MB wrapper to return changes
  website/website/moneybird_wrapper/moneybird_wrapper.py
  website/website/moneybird_wrapper/test_moneybird_wrapper.py
Due: pydocstyle, pylint

Fix the admin interface not working in deployment
  website/website/settings/production.py
Due: pydocstyle, pylint

Integrate the external moneybird dependency
  pyproject.toml
  website/website/moneybird/__init__.py
  website/website/moneybird/api.py
  website/website/moneybird/test_wrapper.py
  website/website/moneybird/wrapper.py
  website/website/moneybird_wrapper/__init__.py
  website/website/moneybird_wrapper/moneybird_wrapper.py
  website/website/moneybird_wrapper/test_moneybird_wrapper.py
Due: toml-sort, pydocstyle, pylint

Add a bit of documentation in the MB wrapper
  website/website/moneybird/wrapper.py
Due: pydocstyle, pylint

Change the wrapper test to use Django's TestCase
  website/website/moneybird/test_wrapper.py
Due: pydocstyle, pylint

Fix a bug in the MB api
  website/website/moneybird/api.py
Due: pydocstyle, pylint

Add tests for the build_url function
  website/website/moneybird/test_api.py
Due: pydocstyle, pylint

Change the MB API to throw for a wrong path
  website/website/moneybird/api.py
  website/website/moneybird/test_api.py
Due: pydocstyle, pylint

Add a doccomment to _MAX_REQUEST_SIZE
  website/website/moneybird/wrapper.py
Due: pydocstyle, pylint

Fix wording in doc-comment
  website/website/moneybird/wrapper.py
Due: pydocstyle, pylint

Change url resolver to always redirect to admin
  website/website/test_asgi.py
  website/website/test_wsgi.py
  website/website/urls.py
Due: pydocstyle, pylint

Refactor the document models
  website/accounting/admin.py
  website/accounting/migrations/0004_document_documentline_remove_receipt_asset_and_more.py
  website/accounting/models.py
  website/accounting/test_models.py
Due: pydocstyle, pylint

Improve the linting pre-commit
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  website/accounting/__init__.py
  website/accounting/apps.py
  website/accounting/models.py
  website/accounting/test_models.py
  website/assets/__init__.py
  website/assets/apps.py
  website/assets/models.py
  website/assets/test_models.py
  website/website/__init__.py
  website/website/moneybird/test_api.py
  website/website/settings/common.py
Due: toml-sort, pydocstyle, pylint
