Repository JobDoesburg/landolfio: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pydocstyle, pylint

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort -i
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

pylint:
  name: pylint
  entry: poetry run pylint -j 4
  language: system

Fix
  landolfio/inventory_frontend/templates/index.html
Due: none

Fix
  landolfio/inventory_frontend/views.py
Due: pydocstyle, pylint

Labels
  landolfio/inventory_frontend/templates/index.html
Due: none

Update
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/index.html
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/views.py
  landolfio/locale/nl/LC_MESSAGES/django.mo
  landolfio/locale/nl/LC_MESSAGES/django.po
  landolfio/website/templates/base.html
Due: pydocstyle, pylint

Black
  landolfio/inventory_frontend/views.py
Due: pydocstyle, pylint

Update
  landolfio/inventory/migrations/0009_alter_attachment_options_attachment_order.py
  landolfio/inventory/models/attachment.py
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/urls.py
  landolfio/inventory_frontend/views.py
  landolfio/website/urls.py
Due: pydocstyle, pylint

Fix
  landolfio/inventory_frontend/templates/detail.html
Due: none

Moneybird assets
  docker-compose.yaml
  landolfio/accounting/admin/__init__.py
  landolfio/accounting/admin/estimate.py
  landolfio/accounting/admin/general_journal_document.py
  landolfio/accounting/admin/purchase_document.py
  landolfio/accounting/admin/recurring_sales_invoice.py
  landolfio/accounting/admin/sales_invoice.py
  landolfio/accounting/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/admin.py
  landolfio/inventory/admin_inlines.py
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/migrations/0010_asset_disposal_asset_is_margin_asset_and_more.py
  landolfio/inventory/migrations/0011_remove_asset_estimate_document_lines_and_more.py
  landolfio/inventory/models/asset.py
  landolfio/inventory/moneybird.py
  landolfio/inventory/templates/admin/inventory/asset/overview/index.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/sidebar.html
  landolfio/inventory_frontend/forms.py
  landolfio/inventory_frontend/templates/create.html
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/index.html
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/templates/update.html
  landolfio/inventory_frontend/urls.py
  landolfio/inventory_frontend/views.py
  landolfio/locale/nl/LC_MESSAGES/django.mo
  landolfio/locale/nl/LC_MESSAGES/django.po
  landolfio/tickets/admin.py
  landolfio/tickets/locale/nl/LC_MESSAGES/django.po
  landolfio/website/settings/common.py
  landolfio/website/settings/development.py
Due: pydocstyle, pylint

Fixes
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/list.html
Due: none

Fix
  docker-compose.yaml
  landolfio/inventory_frontend/templates/list.html
Due: none

Fix
  landolfio/inventory_frontend/templates/list.html
Due: none

Fix
  landolfio/inventory_frontend/views.py
  landolfio/website/settings/development.py
  landolfio/website/settings/production.py
Due: pydocstyle, pylint

Fix
  landolfio/inventory/models/asset.py
Due: pydocstyle, pylint

Fix
  landolfio/inventory/models/asset.py
  landolfio/website/settings/common.py
  landolfio/website/settings/development.py
Due: pydocstyle, pylint

Fix pg field
  landolfio/inventory/migrations/0012_alter_asset_moneybird_asset_id.py
  landolfio/inventory/models/asset.py
Due: pydocstyle, pylint

Improvements
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/models/asset.py
  landolfio/inventory_frontend/forms.py
  landolfio/inventory_frontend/templates/create.html
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/templates/update.html
  landolfio/inventory_frontend/views.py
  landolfio/locale/nl/LC_MESSAGES/django.mo
  landolfio/locale/nl/LC_MESSAGES/django.po
  landolfio/website/templates/base.html
Due: pydocstyle, pylint

Status changes
  landolfio/accounting/tests/test_administration.py
  landolfio/accounting/tests/test_get_changes.py
  landolfio/accounting/tests/test_models.py
  landolfio/accounting/tests/test_sync_database.py
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/migrations/0013_add_status_change_model.py
  landolfio/inventory/migrations/0014_populate_initial_status_changes.py
  landolfio/inventory/migrations/0015_alter_statuschange_new_status.py
  landolfio/inventory/migrations/0016_alter_statuschange_options.py
  landolfio/inventory/migrations/0017_statuschange_contact.py
  landolfio/inventory/migrations/0018_alter_statuschange_new_status.py
  landolfio/inventory/migrations/0019_remove_sold_private_withdrawal_disposal_options.py
  landolfio/inventory/migrations/0020_remove_previous_status_change_field.py
  landolfio/inventory/models/__init__.py
  landolfio/inventory/models/asset.py
  landolfio/inventory/models/status_change.py
  landolfio/inventory/tests/test_admin.py
  landolfio/inventory/tests/test_models.py
  landolfio/inventory_frontend/forms.py
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/urls.py
  landolfio/inventory_frontend/views.py
  landolfio/locale/nl/LC_MESSAGES/django.mo
  landolfio/locale/nl/LC_MESSAGES/django.po
  landolfio/moneybird/administration.py
  landolfio/website/locale/nl/LC_MESSAGES/django.po
  landolfio/website/settings/common.py
  landolfio/website/settings/development.py
  landolfio/website/settings/production.py
  landolfio/website/tests/test_asgi.py
  landolfio/website/tests/test_development.py
  landolfio/website/tests/test_production.py
  landolfio/website/tests/test_wsgi.py
Due: pydocstyle, pylint

New UI
  landolfio/inventory_frontend/forms.py
  landolfio/inventory_frontend/templates/detail.html
  poetry.lock
  pyproject.toml
Due: toml-sort, pydocstyle, pylint

Fix
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/list.html
Due: none

Fix
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/views.py
  landolfio/locale/nl/LC_MESSAGES/django.mo
  landolfio/locale/nl/LC_MESSAGES/django.po
  landolfio/new_customers/locale/nl/LC_MESSAGES/django.po
  landolfio/scantags/locale/nl/LC_MESSAGES/django.po
  landolfio/website/locale/nl/LC_MESSAGES/django.mo
  landolfio/website/locale/nl/LC_MESSAGES/django.po
Due: pydocstyle, pylint

Bulk
  landolfio/inventory/admin.py
  landolfio/inventory/admin_inlines.py
  landolfio/inventory/models/asset.py
  landolfio/inventory_frontend/forms.py
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/index.html
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/urls.py
  landolfio/inventory_frontend/views.py
Due: pydocstyle, pylint

Fix SEPA flow
  landolfio/accounting/admin/contact.py
  landolfio/accounting/models/contact.py
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/locale/nl/LC_MESSAGES/django.po
  landolfio/new_customers/locale/nl/LC_MESSAGES/django.mo
  landolfio/new_customers/locale/nl/LC_MESSAGES/django.po
  landolfio/new_customers/models.py
  landolfio/new_customers/templates/register-customer-success-sepa.html
  landolfio/new_customers/views.py
Due: pydocstyle, pylint

Fix
  landolfio/new_rental_customers/admin.py
Due: pydocstyle, pylint

Fix drag drop
  landolfio/inventory_frontend/templates/detail.html
Due: none

Improvements
  Dockerfile
  landolfio/inventory_frontend/templates/detail.html
  poetry.lock
  pyproject.toml
Due: toml-sort

Improvements
  landolfio/inventory/admin.py
  landolfio/inventory/models/__init__.py
  landolfio/inventory/models/asset.py
  landolfio/inventory_frontend/urls.py
  landolfio/inventory_frontend/views.py
  landolfio/moneybird/admin.py
  landolfio/moneybird/models.py
  landolfio/moneybird/resource_types.py
  landolfio/moneybird/resources.py
  landolfio/moneybird/synchronization.py
  landolfio/moneybird/webhooks/processing.py
  landolfio/new_rental_customers/admin.py
  landolfio/tickets/admin.py
Due: pydocstyle, pylint

Fix UI
  landolfio/inventory_frontend/templates/detail.html
Due: none

Fixes
  landolfio/inventory/admin.py
  landolfio/inventory/models/__init__.py
  landolfio/inventory/models/location.py
  landolfio/inventory_frontend/forms.py
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/index.html
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/urls.py
  landolfio/inventory_frontend/views.py
  landolfio/moneybird/resource_types.py
  landolfio/website/settings/development.py
Due: pydocstyle, pylint

Add migrations
  landolfio/inventory/migrations/0025_alter_assetonjournaldocumentline_unique_together_and_more.py
  landolfio/inventory_frontend/templates/partials/location_tree.html
Due: pydocstyle, pylint

Fix
  landolfio/accounting/models/subscription.py
  landolfio/new_customers/models.py
  landolfio/new_rental_customers/models.py
Due: pydocstyle, pylint

Add MB link script
  landolfio/inventory/management/commands/update_moneybird_ids.py
Due: pydocstyle, pylint

Path conditions:
  toml-sort: any of: \.toml$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
