Repository JobDoesburg/landolfio: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pydocstyle, pylint

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort -i
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

pylint:
  name: pylint
  entry: poetry run pylint -j 4
  language: system

Make pylint-django a dev-dependency
  poetry.lock
  pyproject.toml
Due: toml-sort

Fix mistake in Document model
  website/accounting/migrations/0005_document_lines.py
  website/accounting/models.py
Due: pydocstyle, pylint

Edit the model to a minimal version
  website/accounting/admin.py
  website/accounting/migrations/0006_remove_document_date_remove_document_lines_and_more.py
  website/accounting/models.py
Due: pydocstyle, pylint

Edit tests to account for changes in models
  website/accounting/test_models.py
Due: pydocstyle, pylint

Move the moneybird module to 'accounting'
  website/accounting/moneybird/__init__.py
  website/accounting/moneybird/api.py
  website/accounting/moneybird/test_api.py
  website/accounting/moneybird/test_wrapper.py
  website/accounting/moneybird/wrapper.py
Due: pydocstyle, pylint

Make the Administrations public in MoneyBird API
  website/accounting/moneybird/__init__.py
  website/accounting/moneybird/api.py
  website/accounting/moneybird/test_wrapper.py
  website/accounting/moneybird/wrapper.py
Due: pydocstyle, pylint

Remove unused function 'get_changes'
  website/accounting/moneybird/__init__.py
  website/accounting/moneybird/wrapper.py
Due: pydocstyle, pylint

Fix inconsistency in Moneybird Mock
  website/accounting/moneybird/api.py
Due: pydocstyle, pylint

Change Tag in the MoneyBird wrapper to bytes
  website/accounting/moneybird/wrapper.py
Due: pydocstyle, pylint

Fix bug in moneybird wrapper, add regression test
  website/accounting/moneybird/test_wrapper.py
  website/accounting/moneybird/wrapper.py
Due: pydocstyle, pylint

Fix bug in MB wrapper and add regression tests
  website/accounting/moneybird/test_wrapper.py
  website/accounting/moneybird/wrapper.py
Due: pydocstyle, pylint

Refactor MB tests for easier comparisons of Diffs
  website/accounting/moneybird/test_wrapper.py
Due: pydocstyle, pylint

Create stub update_database, add creds to settings
  website/accounting/update_database.py
  website/website/settings/development.py
  website/website/settings/production.py
Due: pydocstyle, pylint

Extend stub update_database
  website/accounting/migrations/0007_alter_document_kind.py
  website/accounting/models.py
  website/accounting/moneybird/__init__.py
  website/accounting/update_database.py
Due: pydocstyle, pylint

Fix mistake in settings and the corresponding test
  website/website/settings/production.py
  website/website/settings/test_production.py
Due: pydocstyle, pylint

Make MB Api errors more testable, and test them
  website/accounting/moneybird/api.py
  website/accounting/moneybird/test_api.py
Due: pydocstyle, pylint

Remove the 'moneybird' dependency
  poetry.lock
  pyproject.toml
Due: toml-sort

Add 'requests' as a dependency
  poetry.lock
  pyproject.toml
Due: toml-sort

Update poetry dependencies
  poetry.lock
Due: none

Revert "Update poetry dependencies"
  poetry.lock
Due: none

Integrate pre-commit hook for black
  .pre-commit-config.yaml
Due: none

Implement more of update_database
  website/accounting/migrations/0008_auto_20220406_1226.py
  website/accounting/models.py
  website/accounting/test_models.py
  website/accounting/update_database.py
Due: pydocstyle, pylint

Add an in memory file storage for testing
  .github/workflows/ci.yaml
  README.md
  poetry.lock
  pyproject.toml
  website/website/settings/unittests.py
Due: toml-sort, pydocstyle, pylint

Add the implementation for loading and saving tags
  website/accounting/test_update_database.py
  website/accounting/update_database.py
Due: pydocstyle, pylint

Create custom test runner
  .github/workflows/ci.yaml
  README.md
  website/website/custom_test_runner.py
  website/website/settings/development.py
  website/website/settings/unittests.py
Due: pydocstyle, pylint

Fix tests failing in Python 3.9
  website/accounting/update_database.py
Due: pydocstyle, pylint

Fix save_tag_to_storage to overwrite on old tag
  website/accounting/test_update_database.py
  website/accounting/update_database.py
Due: pydocstyle, pylint

Add typehint to MockAdministration's constructor
  website/accounting/moneybird/api.py
Due: pydocstyle, pylint

Add minimal test for 'update_database'
  website/accounting/test_update_database.py
Due: pydocstyle, pylint

Change update_database_from_api to take a storage
  website/accounting/test_update_database.py
  website/accounting/update_database.py
  website/website/custom_test_runner.py
  website/website/settings/development.py
Due: pydocstyle, pylint

Add check for dockind in update_database test
  website/accounting/test_update_database.py
Due: pydocstyle, pylint

Remove unneeded pylint directive
  website/accounting/models.py
Due: pydocstyle, pylint

Rename update_database -> sync_database
  website/accounting/sync_database.py
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Consistently use 'adm(inistration)' instead of API
  website/accounting/moneybird/__init__.py
  website/accounting/moneybird/administration.py
  website/accounting/moneybird/test_administration.py
  website/accounting/moneybird/test_wrapper.py
  website/accounting/moneybird/wrapper.py
  website/accounting/sync_database.py
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Rename 'wrapper' -> 'get_changes'
  website/accounting/moneybird/__init__.py
  website/accounting/moneybird/get_changes.py
  website/accounting/moneybird/test_get_changes.py
Due: pydocstyle, pylint

Update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Rename assets -> inventory
  website/accounting/migrations/0002_invoice_asset_receipt_asset.py
  website/accounting/migrations/0004_document_documentline_remove_receipt_asset_and_more.py
  website/accounting/test_models.py
  website/assets/apps.py
  website/inventory/__init__.py
  website/inventory/admin.py
  website/inventory/apps.py
  website/inventory/migrations/0001_initial.py
  website/inventory/migrations/0002_remove_asset_invoice_remove_asset_receipt_and_more.py
  website/inventory/migrations/0003_alter_asset_options_alter_assetstate_options_and_more.py
  website/inventory/migrations/__init__.py
  website/inventory/models.py
  website/inventory/test_models.py
  website/website/settings/common.py
Due: pydocstyle, pylint

Squash migrations
  website/accounting/migrations/0002_document_delete_invoice_delete_receipt.py
  website/accounting/migrations/0002_invoice_asset_receipt_asset.py
  website/accounting/migrations/0003_alter_invoice_options_alter_receipt_options.py
  website/accounting/migrations/0004_document_documentline_remove_receipt_asset_and_more.py
  website/accounting/migrations/0005_document_lines.py
  website/accounting/migrations/0006_remove_document_date_remove_document_lines_and_more.py
  website/accounting/migrations/0007_alter_document_kind.py
  website/accounting/migrations/0008_auto_20220406_1226.py
  website/inventory/migrations/0002_alter_asset_options_alter_assetstate_options_and_more.py
  website/inventory/migrations/0003_alter_asset_options_alter_assetstate_options_and_more.py
Due: pydocstyle, pylint

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Path conditions:
  toml-sort: any of: \.toml$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
