Repository JobDoesburg/landolfio: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pydocstyle, pylint

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort -i
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

pylint:
  name: pylint
  entry: poetry run pylint -j 4
  language: system

Fix?
  poetry.lock
  pyproject.toml
Due: toml-sort

Fix produ
  landolfio/website/settings/production.py
Due: pydocstyle, pylint

Fix produ
  entrypoint.sh
Due: none

Fix 3.10?
  Dockerfile
Due: none

Fix
  landolfio/website/settings/production.py
Due: pydocstyle, pylint

Fix?
  landolfio/website/settings/production.py
Due: pydocstyle, pylint

Fix?
  Dockerfile
Due: none

Fix production build
  Dockerfile
Due: none

Dependency update
  landolfio/inventory/admin.py
  landolfio/new_customers/templates/register-customer-success-sepa.html
  landolfio/new_customers/templates/register-customer-success.html
  landolfio/new_customers/templates/register-customer.html
  landolfio/new_rental_customers/templates/register-rental-customer.html
  landolfio/website/settings/common.py
  landolfio/website/templates/base.html
  landolfio/website/templates/page.html
  poetry.lock
  pyproject.toml
Due: toml-sort, pydocstyle, pylint

Dependency update
  poetry.lock
  pyproject.toml
Due: toml-sort

Fix CI
  .github/workflows/build-and-push.yaml
  .github/workflows/ci.yaml
Due: none

Fix CI
  .github/workflows/ci.yaml
  docker-compose.yaml
Due: none

Fix deployment
  docker-compose.yaml
  landolfio.nginx.conf
Due: none

Add inventory frontend
  landolfio/inventory_frontend/__init__.py
  landolfio/inventory_frontend/apps.py
  landolfio/inventory_frontend/forms.py
  landolfio/inventory_frontend/templates/create.html
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/index.html
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/templates/update.html
  landolfio/inventory_frontend/urls.py
  landolfio/inventory_frontend/views.py
  landolfio/website/settings/common.py
  landolfio/website/templates/base.html
  landolfio/website/templates/page-no-header.html
  landolfio/website/urls.py
Due: pydocstyle, pylint

New frontend
  .python-version
  landolfio/inventory_frontend/forms.py
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/urls.py
  landolfio/inventory_frontend/views.py
  landolfio/website/templates/base.html
  landolfio/website/templates/page-no-header.html
  landolfio/website/templates/registration/login.html
  landolfio/website/urls.py
  landolfio/website/views.py
  poetry.lock
Due: pydocstyle, pylint

Poetry update
  poetry.lock
Due: none

Fixes
  docker-compose.yaml
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/list.html
  landolfio/website/urls.py
Due: pydocstyle, pylint

Fix prod
  landolfio/website/urls.py
  landolfio/website/views.py
Due: pydocstyle, pylint

Fix prod 2
  landolfio/website/settings/common.py
  landolfio/website/settings/production.py
Due: pydocstyle, pylint

Fix prod 3
  landolfio/website/settings/production.py
Due: pydocstyle, pylint

Fix prod 4?
  landolfio/website/urls.py
Due: pydocstyle, pylint

Use old deps
  poetry.lock
Due: none

Improve admin
  landolfio/inventory_frontend/templates/create.html
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/index.html
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/templates/public_index.html
  landolfio/inventory_frontend/templates/update.html
  landolfio/inventory_frontend/urls.py
  landolfio/inventory_frontend/views.py
  landolfio/website/settings/common.py
  landolfio/website/templates/admin/base_site.html
  landolfio/website/templates/base.html
  landolfio/website/urls.py
  poetry.lock
Due: pydocstyle, pylint

Revert "Use old deps"
  poetry.lock
Due: none

Force file system storage s3
  landolfio/website/settings/production.py
Due: pydocstyle, pylint

Update deps
  landolfio/inventory_frontend/templates/public_index.html
  landolfio/website/settings/common.py
  landolfio/website/settings/production.py
  poetry.lock
  pyproject.toml
Due: toml-sort, pydocstyle, pylint

Translations
  landolfio/accounting/locale/nl/LC_MESSAGES/django.mo
  landolfio/accounting/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/locale/nl/LC_MESSAGES/django.mo
  landolfio/locale/nl/LC_MESSAGES/django.po
  landolfio/moneybird/locale/nl/LC_MESSAGES/django.po
  landolfio/new_customers/locale/nl/LC_MESSAGES/django.po
  landolfio/new_rental_customers/locale/nl/LC_MESSAGES/django.po
  landolfio/tickets/locale/nl/LC_MESSAGES/django.po
  landolfio/website/locale/nl/LC_MESSAGES/django.mo
  landolfio/website/locale/nl/LC_MESSAGES/django.po
Due: none

More translations
  landolfio/inventory_frontend/templates/detail.html
  landolfio/locale/nl/LC_MESSAGES/django.mo
  landolfio/locale/nl/LC_MESSAGES/django.po
Due: none

Fixes
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/views.py
  landolfio/ninox_import/ninox_sync.py
Due: pydocstyle, pylint

More fixes
  landolfio/inventory_frontend/views.py
Due: pydocstyle, pylint

More fixes
  entrypoint.sh
  landolfio/inventory/models/asset.py
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/views.py
Due: pydocstyle, pylint

Fix
  landolfio/inventory_frontend/views.py
Due: pydocstyle, pylint

Add asset properties
  landolfio/accounting/migrations/0002_alter_contact_bank_account_alter_contact_sepa_iban.py
  landolfio/inventory/admin.py
  landolfio/inventory/migrations/0006_assetproperty_assetpropertyvalue.py
  landolfio/inventory/models/__init__.py
  landolfio/inventory/models/asset_property.py
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/urls.py
  landolfio/inventory_frontend/views.py
  landolfio/website/settings/common.py
  landolfio/website/templatetags/dict_extras.py
Due: pydocstyle, pylint

Fix styling
  landolfio/inventory_frontend/templates/list.html
Due: none

Improvements
  CLAUDE.md
  landolfio/inventory/admin.py
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/models/__init__.py
  landolfio/inventory/models/asset_property.py
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/index.html
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/urls.py
  landolfio/inventory_frontend/views.py
  landolfio/locale/nl/LC_MESSAGES/django.mo
  landolfio/locale/nl/LC_MESSAGES/django.po
  landolfio/website/locale/nl/LC_MESSAGES/django.po
  landolfio/website/settings/common.py
  landolfio/website/templatetags/dict_extras.py
Due: pydocstyle, pylint

Fix slugs
  landolfio/inventory/admin.py
  landolfio/inventory/migrations/0007_alter_assetproperty_options_and_more.py
  landolfio/inventory/migrations/0008_auto_20250720_2343.py
  landolfio/inventory/models/asset_property.py
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/views.py
Due: pydocstyle, pylint

Path conditions:
  toml-sort: any of: \.toml$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
