Repository JobDoesburg/landolfio: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pydocstyle, pylint

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort -i
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

pylint:
  name: pylint
  entry: poetry run pylint -j 4
  language: system

Fix webhooks
  landolfio/inventory/management/commands/update_moneybird_ids.py
  landolfio/inventory/resource_types.py
  landolfio/moneybird/webhooks/events.py
  landolfio/website/settings/common.py
Due: pydocstyle, pylint

Fixes
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/views.py
Due: pydocstyle, pylint

Updates
  landolfio/accounting/locale/nl/LC_MESSAGES/django.mo
  landolfio/accounting/locale/nl/LC_MESSAGES/django.po
  landolfio/accounting/models/subscription.py
  landolfio/inventory/locale/nl/LC_MESSAGES/django.mo
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/management/commands/update_moneybird_ids.py
  landolfio/inventory/models/asset.py
  landolfio/inventory/moneybird.py
  landolfio/inventory/resource_types.py
  landolfio/inventory_frontend/forms.py
  landolfio/inventory_frontend/templates/detail.html
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/views.py
  landolfio/locale/nl/LC_MESSAGES/django.mo
  landolfio/locale/nl/LC_MESSAGES/django.po
  landolfio/moneybird/locale/nl/LC_MESSAGES/django.po
  landolfio/moneybird/webhooks/events.py
  landolfio/new_customers/locale/nl/LC_MESSAGES/django.po
  landolfio/new_customers/models.py
  landolfio/new_rental_customers/locale/nl/LC_MESSAGES/django.po
  landolfio/new_rental_customers/models.py
  landolfio/scantags/locale/nl/LC_MESSAGES/django.po
  landolfio/tickets/locale/nl/LC_MESSAGES/django.mo
  landolfio/website/locale/nl/LC_MESSAGES/django.mo
Due: pydocstyle, pylint

Fix webhooks
  landolfio/inventory_frontend/views.py
  landolfio/moneybird/management/commands/deletemoneybirdwebhook.py
  landolfio/moneybird/webhooks/register.py
  landolfio/website/settings/common.py
Due: pydocstyle, pylint

Fix webhook for assets
  landolfio/inventory_frontend/views.py
  landolfio/moneybird/webhooks/processing.py
  landolfio/moneybird/webhooks/register.py
Due: pydocstyle, pylint

Fix webhook assets 2
  landolfio/inventory/resource_types.py
  landolfio/moneybird/webhooks/processing.py
  landolfio/website/settings/common.py
Due: pydocstyle, pylint

Fix webhook assets
  landolfio/inventory/resource_types.py
  landolfio/moneybird/webhooks/processing.py
  landolfio/moneybird/webhooks/views.py
Due: pydocstyle, pylint

improve
  landolfio/inventory/resource_types.py
  landolfio/inventory_frontend/templates/list.html
  landolfio/inventory_frontend/views.py
Due: pydocstyle, pylint

Empty location on status change
  landolfio/inventory/models/asset.py
  landolfio/moneybird/webhooks/events.py
Due: pydocstyle, pylint

Update dependencies
  poetry.lock
Due: none

Implement scheduled tasks
  docker-compose.yaml
  landolfio/inventory/apps.py
  landolfio/inventory/moneybird.py
  landolfio/inventory/tasks.py
  landolfio/website/settings/common.py
  poetry.lock
  pyproject.toml
Due: toml-sort, pydocstyle, pylint

Migrations :)
  landolfio/accounting/migrations/0003_remove_estimate_document_style_and_more.py
  landolfio/tickets/migrations/0002_remove_ticket_estimates_remove_ticket_sales_invoices.py
Due: pydocstyle, pylint

Updates
  landolfio/inventory/tasks.py
  landolfio/manage.py
  landolfio/moneybird/models.py
  poetry.lock
  pyproject.toml
Due: toml-sort, pydocstyle, pylint

README
  LICENSE
  README.md
Due: none

Fix
  .github/workflows/build-and-push.yaml
  README.md
Due: none

Deploy
  .github/workflows/deploy.yaml
  deploy/.env.example
  deploy/Caddyfile
  deploy/README.md
  deploy/docker-compose.yml
Due: none

Deploy
  .github/workflows/build-and-push.yaml
  Dockerfile
Due: none

Fixes
  .github/workflows/deploy.yaml
  deploy/docker-compose.yml
Due: none

Cleanup
  .gitignore
  README.md
  deploy/docker-compose.yml
  docker-compose.yaml
  landolfio.nginx.conf
  landolfio/inventory/tasks.py
  poetry.lock
  pyproject.toml
Due: toml-sort, pydocstyle, pylint

Add uWSGI threading flags and refactor Dockerfile
  Dockerfile
  entrypoint.sh
Due: none

update
  deploy/.env.example
  deploy/README.md
Due: none

Add pangolin proxy network
  deploy/docker-compose.yml
Due: none

Dependabot updates
  .github/dependabot.yml
Due: none

CI and dependabot fixes
  .github/dependabot.yml
  .github/workflows/build-and-push.yaml
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
Due: none

Replace Build and push badge with CI badge
  README.md
Due: none

Optimize DB connections and unify container boot with migrations
  Dockerfile
  deploy/docker-compose.yml
  entrypoint.sh
  landolfio/website/settings/production.py
Due: pydocstyle, pylint

Improve filters mobile
  landolfio/inventory_frontend/templates/list.html
Due: none

Fix linking
  landolfio/inventory/resource_types.py
  landolfio/inventory/services.py
  landolfio/inventory/tasks.py
Due: pydocstyle, pylint

Migrate from Poetry to uv
  .github/dependabot.yml
  .github/workflows/ci.yaml
  CLAUDE.md
  Dockerfile
  README.md
  poetry.lock
  pyproject.toml
  uv.lock
Due: toml-sort

Prune old images after successful deploy
  .github/workflows/deploy.yaml
Due: none

Prune before pull to survive full-disk deploys
  .github/workflows/deploy.yaml
Due: none

Restore post-health prune order
  .github/workflows/deploy.yaml
Due: none

Replace broken autocompletefilter media mixin
  landolfio/accounting/admin/subscription.py
  landolfio/inventory/admin.py
  landolfio/tickets/admin.py
  landolfio/website/admin.py
Due: pydocstyle, pylint

Handle missing filepond temp files on upload
  landolfio/inventory/admin_views.py
  landolfio/inventory_frontend/views.py
Due: pydocstyle, pylint

Log transient Moneybird API errors as warnings
  landolfio/inventory/models/asset.py
  landolfio/moneybird/administration.py
Due: pydocstyle, pylint

Add timeouts, GET retries, and typed connection errors to Moneybird client
  landolfio/inventory/models/asset.py
  landolfio/moneybird/administration.py
Due: pydocstyle, pylint

Fix broken test suite
  landolfio/__init__.py
  landolfio/accounting/migrations/0003_remove_estimate_document_style_and_more.py
  landolfio/accounting/tests/test_administration.py
  landolfio/accounting/tests/test_get_changes.py
  landolfio/accounting/tests/test_models.py
  landolfio/accounting/tests/test_sync_database.py
  landolfio/inventory/tests/test_admin.py
  landolfio/inventory/tests/test_models.py
  landolfio/moneybird/tests/test_webhooks_processing.py
  landolfio/website/settings/production.py
  landolfio/website/tests/test_admin_media.py
  landolfio/website/tests/test_asgi.py
  landolfio/website/tests/test_production.py
Due: pydocstyle, pylint

Path conditions:
  toml-sort: any of: \.toml$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
