Repository JobDoesburg/landolfio: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pydocstyle, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: ["--branch", "main", "--branch", "development"]

  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
      - id: reorder-python-imports

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: ea782651a7e32f40a3d13b76c79d5a2474ee8723
    hooks:
      - id: prettier
        types_or: [css, javascript, ts, yaml, markdown]

  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: toml-sort
        name: toml-sort
        entry: poetry run toml-sort -i
        language: system
        types: [toml]

      - id: pydocstyle
        name: pydocstyle
        entry: poetry run pydocstyle
        language: system
        types: [python]

      - id: pylint
        name: pylint
        entry: poetry run pylint -j 4
        language: system
        types: [python]

Fix migrations
  website/inventory/migrations/0005_attachment.py
Due: pydocstyle, pylint

Change file storage location
  website/inventory/models.py
Due: pydocstyle, pylint

Fix migrations
  website/inventory/migrations/0006_attachment.py
Due: pydocstyle, pylint

Removed null=true for string
  website/inventory/models.py
Due: pydocstyle, pylint

Added asset attachments
  website/inventory/admin.py
  website/inventory/migrations/0005_attachment.py
  website/inventory/models.py
Due: pydocstyle, pylint

Add a 'price' field to the DocumentLine model
  website/accounting/migrations/0010_documentline_price.py
  website/accounting/models.py
  website/accounting/sync_database.py
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Change 'Django-beheer' to landolfio
  website/website/urls.py
Due: pydocstyle, pylint

Load changes from MoneyBird periodically
  poetry.lock
  pyproject.toml
  website/accounting/apps.py
  website/website/settings/development.py
  website/website/settings/production.py
  website/website/settings/test_production.py
Due: toml-sort, pydocstyle, pylint

Move code that changes header title and change title field
  website/website/admin.py
  website/website/settings/common.py
  website/website/urls.py
Due: pydocstyle, pylint

Use python threads instead of timeloop
  .env.example
  poetry.lock
  pyproject.toml
  website/accounting/apps.py
Due: toml-sort, pydocstyle, pylint

Make sync_database thread safe
  website/accounting/sync_database.py
Due: pydocstyle, pylint

Clarify unit of interval
  website/accounting/apps.py
  website/website/settings/development.py
  website/website/settings/production.py
  website/website/settings/test_production.py
Due: pydocstyle, pylint

Update example env file
  .env.example
Due: none

Fix missing env variables in docker-compose
  docker-compose.yaml
Due: none

Add X-Accel-Redirect support for media files
  Caddyfile
  docker-compose.yaml
  website/website/settings/common.py
  website/website/urls.py
  website/website/views.py
Due: pydocstyle, pylint

Include more image types
  website/inventory/admin.py
Due: pydocstyle, pylint

Change image dimensions
  website/inventory/admin.py
Due: pydocstyle, pylint

Add media to urls.py
  website/website/settings/common.py
  website/website/urls.py
Due: pydocstyle, pylint

Show image on AssetInline
  website/inventory/admin.py
  website/website/urls.py
Due: pydocstyle, pylint

Fix GitHub workflow
  .github/workflows/ci.yaml
Due: none

Change DocKind to have props instead of fields
  website/accounting/moneybird/get_changes.py
Due: pydocstyle, pylint

Refactor DocKind
  website/accounting/moneybird/get_changes.py
Due: pydocstyle, pylint

Fix GitHub CI
  .github/workflows/ci.yaml
  poetry.lock
  pyproject.toml
Due: toml-sort

Clarify what RUN_MAIN check does
  website/accounting/apps.py
Due: pydocstyle, pylint

Move other import to inside thread as well
  website/accounting/apps.py
Due: pydocstyle, pylint

Users must be logged in to call sync_database
  website/accounting/api/views.py
Due: pydocstyle, pylint

Fix the sync_interval variable not being passed
  docker-compose.yaml
Due: none

Change sync to not wait before reload
  website/website/static/website/sync_database_button.js
Due: none

Change admin to only show sync button if logged in
  website/website/templates/admin/base.html
Due: none

Add synchronization button in admin
  website/website/settings/common.py
  website/website/static/website/sync_database_button.js
  website/website/templates/admin/base.html
Due: pydocstyle, pylint

Add JS to enable horizontal scrolling on JSON tables
  website/accounting/admin.py
  website/accounting/templates/admin/accounting/document/change_form.html
Due: pydocstyle, pylint

Make periodic sync optional
  website/accounting/apps.py
  website/website/settings/development.py
  website/website/settings/production.py
Due: pydocstyle, pylint

Add a test for inventory admin for more coverage
  website/inventory/test_admin.py
Due: pydocstyle, pylint

Test behaviour of rate limiting
  website/accounting/moneybird/administration.py
  website/accounting/moneybird/test_get_changes.py
Due: pydocstyle, pylint

Fix typos and change default max_requests value
  website/accounting/moneybird/administration.py
Due: pydocstyle, pylint

Squash migrations
  website/accounting/migrations/0001_initial.py
  website/accounting/migrations/0001_squashed_0010_documentline_price.py
  website/accounting/migrations/0002_documentline_asset.py
  website/accounting/migrations/0003_document_link_documentline_ledger.py
  website/accounting/migrations/0004_alter_document_kind.py
  website/accounting/migrations/0005_remove_document_link.py
  website/accounting/migrations/0006_alter_documentline_ledger.py
  website/accounting/migrations/0007_documentline_asset_id_field.py
  website/accounting/migrations/0008_rename_id_mb_document_moneybird_id_and_more.py
  website/accounting/migrations/0009_ledger_alter_documentline_ledger.py
  website/accounting/migrations/0010_documentline_price.py
  website/inventory/migrations/0001_initial.py
  website/inventory/migrations/0001_squashed_0006_attachment.py
  website/inventory/migrations/0002_remove_asset_old_id_alter_asset_id.py
  website/inventory/migrations/0003_collection_remove_asset_margin_asset_mb_state_and_more.py
  website/inventory/migrations/0004_alter_asset_mb_state_alter_asset_local_state.py
  website/inventory/migrations/0005_rename_mb_state_asset_moneybird_state.py
  website/inventory/migrations/0006_attachment.py
Due: pydocstyle, pylint

Dutch translations (#152)
  website/accounting/apps.py
  website/accounting/migrations/0002_alter_document_options_alter_documentline_options_and_more.py
  website/accounting/models.py
  website/inventory/admin.py
  website/inventory/apps.py
  website/inventory/fixtures/assets.yaml
  website/inventory/migrations/0002_alter_attachment_options_alter_collection_options_and_more.py
  website/inventory/models.py
  website/locale/nl/LC_MESSAGES/django.mo
  website/locale/nl/LC_MESSAGES/django.po
  website/users/apps.py
  website/website/settings/common.py
  website/website/static/website/sync_database_button.js
  website/website/templates/admin/base.html
Due: pydocstyle, pylint

Change JS to CSS
  website/accounting/templates/admin/accounting/document/change_form.html
Due: none
