Repository JobDoesburg/landolfio: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pydocstyle, pylint

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort -i
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

pylint:
  name: pylint
  entry: poetry run pylint -j 4
  language: system

Accounting status
  landolfio/inventory/admin/admin/asset.py
  landolfio/inventory/admin/assets_admin/asset.py
  landolfio/inventory/locale/nl/LC_MESSAGES/django.mo
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/management/commands/checkaccountingerrors.py
  landolfio/inventory/models/asset.py
  landolfio/inventory/models/status.py
  landolfio/inventory/services.py
  landolfio/inventory/templates/assets_admin/includes/sidebar.html
Due: pydocstyle, pylint

Fixes?
  landolfio/accounting/migrations/0019_ledgeraccount_is_assets_inventory.py
  landolfio/accounting/models/ledger_account.py
  landolfio/inventory/models/asset.py
  landolfio/inventory/services.py
Due: pydocstyle, pylint

Fix 2
  landolfio/inventory/models/asset.py
Due: pydocstyle, pylint

Add scantag model
  landolfio/accounting/models/contact.py
  landolfio/moneybird/resources.py
  landolfio/scantags/__init__.py
  landolfio/scantags/admin.py
  landolfio/scantags/apps.py
  landolfio/scantags/management/__init__.py
  landolfio/scantags/management/commands/__init__.py
  landolfio/scantags/management/commands/generatetags.py
  landolfio/scantags/migrations/0001_initial.py
  landolfio/scantags/migrations/0002_alter_scantag_options_alter_scantag_id.py
  landolfio/scantags/migrations/__init__.py
  landolfio/scantags/models.py
  landolfio/scantags/settings.py
  landolfio/scantags/urls.py
  landolfio/scantags/views.py
  landolfio/website/settings/common.py
  landolfio/website/urls.py
Due: pydocstyle, pylint

fix urls
  landolfio/website/urls.py
Due: pydocstyle, pylint

Fix autocompletefields
  landolfio/rental_customers/admin.py
Due: pydocstyle, pylint

Fix translations
  landolfio/accounting/models/contact.py
  landolfio/accounting/models/document_style.py
  landolfio/accounting/models/estimate.py
  landolfio/accounting/models/general_journal_document.py
  landolfio/accounting/models/journal_document.py
  landolfio/accounting/models/ledger_account.py
  landolfio/accounting/models/product.py
  landolfio/accounting/models/project.py
  landolfio/accounting/models/purchase_document.py
  landolfio/accounting/models/recurring_sales_invoice.py
  landolfio/accounting/models/sales_invoice.py
  landolfio/accounting/models/subscription.py
  landolfio/accounting/models/tax_rate.py
  landolfio/accounting/models/workflow.py
  landolfio/inventory/admin/admin/asset.py
  landolfio/moneybird/admin.py
  landolfio/moneybird/models.py
  landolfio/rental_customers/forms.py
  landolfio/website/settings/common.py
  landolfio/website/urls.py
  poetry.lock
  pyproject.toml
Due: toml-sort, pydocstyle, pylint

Fixes
  landolfio/accounting/migrations/0020_alter_contact_options_alter_documentstyle_options_and_more.py
  landolfio/website/urls.py
Due: pydocstyle, pylint

Update rental customers module
  landolfio/accounting/admin/estimate.py
  landolfio/accounting/admin/sales_invoice.py
  landolfio/accounting/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/admin/admin/asset.py
  landolfio/inventory/admin/assets_admin/asset.py
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/moneybird/locale/nl/LC_MESSAGES/django.po
  landolfio/rental_customers/admin.py
  landolfio/rental_customers/forms.py
  landolfio/rental_customers/locale/nl/LC_MESSAGES/django.mo
  landolfio/rental_customers/locale/nl/LC_MESSAGES/django.po
  landolfio/rental_customers/migrations/0002_registeredrentalcustomer_affiliate_name_and_more.py
  landolfio/rental_customers/migrations/0003_remove_registeredrentalcustomer_asset_numbers_and_more.py
  landolfio/rental_customers/models.py
  landolfio/website/locale/nl/LC_MESSAGES/django.po
  landolfio/website/multi_select_filter.py
  poetry.lock
  pyproject.toml
Due: toml-sort, pydocstyle, pylint

Change admin structure
  landolfio/inventory/templates/assets_admin/index.html
  landolfio/website/templates/index.html
  landolfio/website/urls.py
  landolfio/website/views.py
Due: pydocstyle, pylint

Improve admin
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/website/locale/nl/LC_MESSAGES/django.mo
  landolfio/website/locale/nl/LC_MESSAGES/django.po
  landolfio/website/templates/index.html
  landolfio/website/views.py
Due: pydocstyle, pylint

Create rental agreement action
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/models/asset.py
  landolfio/inventory/services.py
  landolfio/rental_customers/admin.py
  landolfio/rental_customers/forms.py
  landolfio/rental_customers/locale/nl/LC_MESSAGES/django.mo
  landolfio/rental_customers/locale/nl/LC_MESSAGES/django.po
  landolfio/rental_customers/migrations/0004_registeredrentalcustomer_assets_and_more.py
  landolfio/rental_customers/migrations/0005_alter_registeredrentalcustomer_assets.py
  landolfio/rental_customers/migrations/0006_registeredrentalcustomer_agreement.py
  landolfio/rental_customers/models.py
  landolfio/rental_customers/services.py
  poetry.lock
  pyproject.toml
Due: toml-sort, pydocstyle, pylint

Bugfixes
  .python-version
  landolfio/website/settings/common.py
  landolfio/website/settings/development.py
  landolfio/website/views.py
  poetry.lock
  pyproject.toml
Due: toml-sort, pydocstyle, pylint

Admin styling
  landolfio/inventory/admin.py
  landolfio/inventory/admin_inlines.py
  landolfio/inventory/assets_admin/__init__.py
  landolfio/inventory/assets_admin/asset.py
  landolfio/inventory/locale/nl/LC_MESSAGES/django.mo
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/templates/admin/inventory/overview/includes/categories_module.html
  landolfio/inventory/templates/admin/inventory/overview/includes/collections_module.html
  landolfio/inventory/templates/admin/inventory/overview/includes/locations_module.html
  landolfio/inventory/templates/admin/inventory/view_asset/includes/attachments.html
  landolfio/inventory/templates/admin/inventory/view_asset/includes/estimates.html
  landolfio/inventory/templates/admin/inventory/view_asset/includes/journal_documents.html
  landolfio/inventory/templates/admin/inventory/view_asset/includes/ledger_accounts.html
  landolfio/inventory/templates/admin/inventory/view_asset/includes/recurring_sales_invoices.html
  landolfio/inventory/templates/admin/inventory/view_asset/includes/remarks.html
  landolfio/inventory/templates/admin/inventory/view_asset/includes/sidebar.html
  landolfio/inventory/templates/admin/inventory/view_asset/includes/tickets.html
  landolfio/website/locale/nl/LC_MESSAGES/django.po
  landolfio/website/templates/admin/base.html
Due: pydocstyle, pylint

Vertalingen
  landolfio/accounting/apps.py
  landolfio/accounting/locale/nl/LC_MESSAGES/django.mo
  landolfio/accounting/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/apps.py
  landolfio/inventory/locale/nl/LC_MESSAGES/django.mo
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/locale/nl/LC_MESSAGES/django.po
  landolfio/scantags/locale/nl/LC_MESSAGES/django.mo
  landolfio/scantags/locale/nl/LC_MESSAGES/django.po
  landolfio/tickets/apps.py
  landolfio/tickets/locale/nl/LC_MESSAGES/django.mo
  landolfio/tickets/locale/nl/LC_MESSAGES/django.po
Due: pydocstyle, pylint

Fix header
  landolfio/website/templates/admin/base_site.html
  landolfio/website/urls.py
Due: pydocstyle, pylint

Fix laatste vertaling
  landolfio/website/locale/nl/LC_MESSAGES/django.mo
  landolfio/website/locale/nl/LC_MESSAGES/django.po
Due: none

catch 404
  landolfio/tickets/admin.py
Due: pydocstyle, pylint

Fix scan tags
  landolfio/scantags/admin.py
  landolfio/scantags/apps.py
  landolfio/website/settings/common.py
Due: pydocstyle, pylint

Fix integrity errors
  landolfio/moneybird/resource_types.py
  landolfio/website/settings/common.py
Due: pydocstyle, pylint

Hide more fields to see if it gives a speedup
  landolfio/inventory/admin.py
Due: pydocstyle, pylint

Improve UI
  landolfio/inventory/admin.py
  landolfio/inventory/templates/admin/inventory/overview/includes/index-nav-sidebar.html
  landolfio/new_customers/admin.py
  landolfio/new_customers/models.py
  landolfio/new_rental_customers/admin.py
  landolfio/new_rental_customers/models.py
  landolfio/tickets/admin.py
  landolfio/website/templates/admin/base_site.html
Due: pydocstyle, pylint

Improve ticket UI/UX and model
  landolfio/new_customers/admin.py
  landolfio/tickets/admin.py
  landolfio/tickets/migrations/0002_remove_ticket_title.py
  landolfio/tickets/models.py
Due: pydocstyle, pylint

Improvements
  landolfio/inventory/admin.py
  landolfio/new_customers/admin.py
  landolfio/new_rental_customers/admin.py
  landolfio/new_rental_customers/forms.py
  landolfio/new_rental_customers/migrations/0002_newrentalcustomer_date_received.py
  landolfio/new_rental_customers/models.py
  landolfio/tickets/admin.py
  landolfio/website/settings/common.py
Due: pydocstyle, pylint

Fix contact blank
  landolfio/accounting/migrations/0021_alter_journaldocumentline_contact.py
  landolfio/accounting/models/journal_document.py
Due: pydocstyle, pylint

Fix UI
  landolfio/inventory/models/asset.py
  landolfio/inventory/templates/admin/inventory/view_asset/includes/tickets.html
  landolfio/inventory/templates/admin/inventory/view_asset/view_asset.html
  landolfio/new_customers/models.py
  landolfio/tickets/admin.py
  landolfio/tickets/templates/admin/tickets/change_list_object_tools.html
  landolfio/website/settings/common.py
Due: pydocstyle, pylint

Better contact admin
  landolfio/accounting/admin/contact.py
Due: pydocstyle, pylint

Fix vertalingen
  landolfio/accounting/locale/nl/LC_MESSAGES/django.mo
  landolfio/accounting/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/locale/nl/LC_MESSAGES/django.mo
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/locale/nl/LC_MESSAGES/django.mo
  landolfio/locale/nl/LC_MESSAGES/django.po
  landolfio/moneybird/locale/nl/LC_MESSAGES/django.mo
  landolfio/moneybird/locale/nl/LC_MESSAGES/django.po
  landolfio/new_customers/locale/nl/LC_MESSAGES/django.mo
  landolfio/new_customers/locale/nl/LC_MESSAGES/django.po
  landolfio/new_rental_customers/locale/nl/LC_MESSAGES/django.mo
  landolfio/new_rental_customers/locale/nl/LC_MESSAGES/django.po
  landolfio/scantags/locale/nl/LC_MESSAGES/django.mo
  landolfio/scantags/locale/nl/LC_MESSAGES/django.po
  landolfio/tickets/locale/nl/LC_MESSAGES/django.mo
  landolfio/tickets/locale/nl/LC_MESSAGES/django.po
  landolfio/website/locale/nl/LC_MESSAGES/django.mo
  landolfio/website/locale/nl/LC_MESSAGES/django.po
Due: none

Fix admin
  landolfio/inventory/templates/admin/inventory/overview/includes/index-nav-sidebar.html
  landolfio/website/templates/admin/base_site.html
Due: none

Fix select2 bug loading twice
  landolfio/website/templates/admin/base_site.html
Due: none

Bugfixes
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/inventory/templates/admin/inventory/overview/includes/index-nav-sidebar.html
  landolfio/inventory/templates/admin/inventory/view_asset/includes/tickets.html
  landolfio/new_customers/models.py
  landolfio/new_rental_customers/models.py
  landolfio/tickets/locale/nl/LC_MESSAGES/django.mo
  landolfio/tickets/locale/nl/LC_MESSAGES/django.po
  landolfio/tickets/templates/admin/tickets/ticket/change_list_object_tools.html
  landolfio/website/locale/nl/LC_MESSAGES/django.po
Due: pydocstyle, pylint

Refactor
  landolfio/inventory/admin_views.py
  landolfio/inventory/templates/admin/inventory/asset/change_list.html
  landolfio/inventory/templates/admin/inventory/asset/overview/includes/categories_module.html
  landolfio/inventory/templates/admin/inventory/asset/overview/includes/category_breadcrumbs.html
  landolfio/inventory/templates/admin/inventory/asset/overview/includes/collections_module.html
  landolfio/inventory/templates/admin/inventory/asset/overview/includes/index-nav-sidebar.html
  landolfio/inventory/templates/admin/inventory/asset/overview/includes/locations_module.html
  landolfio/inventory/templates/admin/inventory/asset/overview/index.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/attachments.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/estimates.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/file_upload.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/journal_documents.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/ledger_accounts.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/recurring_sales_invoices.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/remarks.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/sidebar.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/tickets.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/view_asset.html
Due: pydocstyle, pylint

Fix urls
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/remarks.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/tickets.html
Due: none

Fix widget type date
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/tickets.html
  landolfio/new_rental_customers/forms.py
Due: pydocstyle, pylint

Fix ticket due filter
  landolfio/inventory/locale/nl/LC_MESSAGES/django.po
  landolfio/new_customers/locale/nl/LC_MESSAGES/django.po
  landolfio/new_rental_customers/locale/nl/LC_MESSAGES/django.po
  landolfio/tickets/admin.py
  landolfio/tickets/admin_filters.py
  landolfio/tickets/locale/nl/LC_MESSAGES/django.mo
  landolfio/tickets/locale/nl/LC_MESSAGES/django.po
Due: pydocstyle, pylint

Catch integrity errors mb sync
  landolfio/moneybird/models.py
Due: pydocstyle, pylint

Fix another integrity error
  landolfio/moneybird/models.py
Due: pydocstyle, pylint

Path conditions:
  toml-sort: any of: \.toml$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
