Repository JobDoesburg/landolfio: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pydocstyle, pylint

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort -i
  language: system

pydocstyle:
  name: pydocstyle
  entry: poetry run pydocstyle
  language: system

pylint:
  name: pylint
  entry: poetry run pylint -j 4
  language: system

Other ninox sync
  landolfio/ninox_import/ninox_sync.py
Due: pydocstyle, pylint

Other ninox sync 2
  landolfio/ninox_import/ninox_sync.py
Due: pydocstyle, pylint

Fix ninox import 2
  landolfio/inventory/models/asset.py
  landolfio/ninox_import/ninox_sync.py
Due: pydocstyle, pylint

Fix ninox import 3
  landolfio/ninox_import/ninox_sync.py
Due: pydocstyle, pylint

Fix ninox import 4
  landolfio/inventory/migrations/0003_alter_asset_name.py
Due: pydocstyle, pylint

Fix ninox import 5
  landolfio/ninox_import/ninox_sync.py
Due: pydocstyle, pylint

Bugfix
  landolfio/inventory/admin.py
Due: pydocstyle, pylint

Bugfix 2
  landolfio/inventory/admin.py
Due: pydocstyle, pylint

Fix random filename
  landolfio/inventory/models/attachment.py
Due: pydocstyle, pylint

Catch error filepond
  landolfio/inventory/admin_views.py
Due: pydocstyle, pylint

Fix delete attachment
  landolfio/inventory/models/attachment.py
Due: pydocstyle, pylint

Fix upload
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/attachments.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/file_upload.html
Due: none

Fix attachments
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/attachments.html
Due: none

Fix upload button ui
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/file_upload.html
Due: none

add location nr.
  landolfio/inventory/admin.py
  landolfio/inventory/admin_views.py
  landolfio/inventory/migrations/0004_asset_location_nr.py
  landolfio/inventory/models/asset.py
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/remarks.html
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/sidebar.html
Due: pydocstyle, pylint

Location nr fix
  landolfio/inventory/admin.py
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/sidebar.html
Due: pydocstyle, pylint

Fix listing price filter
  landolfio/inventory/admin.py
Due: pydocstyle, pylint

Dependency update
  poetry.lock
  pyproject.toml
Due: toml-sort

Further change filter
  landolfio/inventory/admin.py
Due: pydocstyle, pylint

Fix
  landolfio/inventory/admin.py
Due: pydocstyle, pylint

Fix postgres?
  landolfio/inventory/admin.py
Due: pydocstyle, pylint

Fix 2
  landolfio/inventory/admin.py
Due: pydocstyle, pylint

Fix filters
  landolfio/inventory/admin.py
Due: pydocstyle, pylint

Fix filter
  landolfio/inventory/admin.py
  poetry.lock
Due: pydocstyle, pylint

Fix DoesNotExist
  landolfio/moneybird/resource_types.py
Due: pydocstyle, pylint

No reorder
  landolfio/inventory/templates/admin/inventory/asset/view_asset/includes/file_upload.html
Due: none

Update dependencies
  poetry.lock
Due: none

Updates
  .python-version
  Dockerfile
  landolfio/inventory/models/attachment.py
  landolfio/website/settings/development.py
  landolfio/website/urls.py
  poetry.lock
Due: pydocstyle, pylint

Updates
  landolfio/inventory/migrations/0005_alter_attachment_attachment_and_more.py
Due: pydocstyle, pylint

Updates
  Dockerfile
Due: none

New dockerfile
  Dockerfile
  entrypoint.sh
  poetry.lock
  pyproject.toml
Due: toml-sort

Fix?
  landolfio/website/settings/production.py
Due: pydocstyle, pylint

Fix?
  pyproject.toml
Due: toml-sort

Fix?
  poetry.lock
Due: none

Path conditions:
  toml-sort: any of: \.toml$
  pydocstyle: any of: \.py$
  pylint: any of: \.py$
