Repository JobDoesburg/landolfio: changes, and which pre-commit hooks are due for each by the changed paths.
All: toml-sort, pydocstyle, pylint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: no-commit-to-branch
        args: ["--branch", "main", "--branch", "development"]

  - repo: https://github.com/asottile/reorder_python_imports
    rev: v2.7.1
    hooks:
      - id: reorder-python-imports

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: ea782651a7e32f40a3d13b76c79d5a2474ee8723
    hooks:
      - id: prettier
        types_or: [css, javascript, ts, yaml, markdown]

  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black

  - repo: local
    hooks:
      - id: toml-sort
        name: toml-sort
        entry: poetry run toml-sort -i
        language: system
        types: [toml]

      - id: pydocstyle
        name: pydocstyle
        entry: poetry run pydocstyle
        language: system
        types: [python]

      - id: pylint
        name: pylint
        entry: poetry run pylint -j 4
        language: system
        types: [python]

Moved Ledger to Documentline
  website/accounting/migrations/0003_document_link.py
  website/accounting/migrations/0003_document_link_documentline_ledger.py
  website/accounting/models.py
  website/inventory/fixtures/assets.yaml
  website/inventory/migrations/0003_collection_remove_asset_margin_asset_mb_state_and_more.py
  website/inventory/migrations/0004_alter_asset_mb_state_alter_asset_local_state.py
  website/inventory/models.py
Due: pydocstyle, pylint

Add migrations
  website/accounting/migrations/0003_document_link.py
  website/inventory/migrations/0003_collection_remove_asset_margin_asset_mb_state_and_more.py
Due: pydocstyle, pylint

Set the internationalization correctly
  website/website/settings/common.py
Due: pydocstyle, pylint

Add sales invoices to the document kinds
  website/accounting/moneybird/get_changes.py
Due: pydocstyle, pylint

Fix ObjectDoesNotExist error
  website/inventory/admin.py
Due: pydocstyle, pylint

Add MB link to related documents
  website/inventory/admin.py
  website/inventory/templates/admin/inventory/asset/change_form.html
Due: pydocstyle, pylint

Add 2 missing migrations
  website/accounting/migrations/0004_alter_document_kind.py
  website/inventory/migrations/0004_alter_asset_mb_state_alter_asset_local_state.py
Due: pydocstyle, pylint

Change path to adm_path and add urls to documents upon generation
  website/accounting/models.py
  website/accounting/moneybird/get_changes.py
  website/accounting/moneybird/test_get_changes.py
  website/accounting/sync_database.py
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Change link to url
  website/accounting/migrations/0005_remove_document_link_document_url.py
Due: pydocstyle, pylint

Fix overlapping collection IDs
  website/inventory/test_models.py
Due: pydocstyle, pylint

Change IDs in asset fixtures from 0 to 1
  website/inventory/fixtures/assets.yaml
Due: none

change url field to a property
  website/accounting/migrations/0005_remove_document_link.py
  website/accounting/migrations/0005_remove_document_link_document_url.py
  website/accounting/models.py
  website/accounting/sync_database.py
  website/accounting/test_models.py
  website/accounting/test_sync_database.py
  website/inventory/templates/admin/inventory/asset/change_form.html
Due: pydocstyle, pylint

Use the default UserAdmin for the User model
  website/users/admin.py
Due: pydocstyle, pylint

Add ledger_account_id to documentlines for testing
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Remove UNKNOWN ledger account id and translate function
  website/accounting/migrations/0006_alter_documentline_ledger.py
  website/accounting/models.py
  website/accounting/sync_database.py
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Extract ledger account ids from data
  website/accounting/migrations/0004_alter_document_kind.py
  website/accounting/migrations/0005_alter_documentline_ledger.py
  website/accounting/models.py
  website/accounting/sync_database.py
  website/inventory/migrations/0004_alter_asset_mb_state_alter_asset_local_state.py
Due: pydocstyle, pylint

Fix conflicting migrations
  website/accounting/migrations/0006_alter_documentline_ledger.py
Due: pydocstyle, pylint

Ledger account ids must always be defined
  website/accounting/migrations/0006_alter_documentline_ledger.py
  website/accounting/models.py
Due: pydocstyle, pylint

Add rate-limit handling on initial synchronization call
  website/accounting/moneybird/get_changes.py
Due: pydocstyle, pylint

Fix new_tag not including unchanged documents
  website/accounting/moneybird/get_changes.py
Due: pydocstyle, pylint

Add rate-limit handling
  website/accounting/moneybird/get_changes.py
Due: pydocstyle, pylint

addressed Jaspers comments
  website/accounting/sync_database.py
Due: pydocstyle, pylint

Added asset id field to documentline
  documentline
  website/accounting/models.py
  website/accounting/sync_database.py
Due: pydocstyle, pylint

Create signal receiver for asset
  documentline
  website/accounting/models.py
  website/accounting/sync_database.py
  website/inventory/models.py
Due: pydocstyle, pylint

Added migrations
  website/accounting/migrations/0007_documentline_asset_id_field.py
Due: pydocstyle, pylint

Fix tab issues
  website/inventory/templates/admin/inventory/asset/change_form.html
Due: none

Change how the buttons are displayed
  website/inventory/templates/admin/inventory/asset/change_form.html
Due: none

fix syntax issue on line 17
  website/inventory/templates/admin/inventory/asset/change_form.html
Due: none

Add tests for the customized Asset admin interface
  website/inventory/test_admin.py
  website/website/settings/common.py
Due: pydocstyle, pylint

Change button colors such that they aren't the same color
  website/inventory/templates/admin/inventory/asset/change_form.html
Due: none

Change UI for related documents to make it more intuitive for users
  website/inventory/templates/admin/inventory/asset/change_form.html
Due: none

Rename *_MB to moneybird_*
  website/accounting/migrations/0008_rename_id_mb_document_moneybird_id_and_more.py
  website/accounting/models.py
  website/accounting/sync_database.py
  website/accounting/test_models.py
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Change the Documents Admin to inline DocumentLines
  website/accounting/admin.py
Due: pydocstyle, pylint

Make Documents read-only in the admin interface
  website/accounting/admin.py
Due: pydocstyle, pylint

Unhardcode the ledgers
  website/accounting/admin.py
  website/accounting/fixtures/ledgers.yaml
  website/accounting/migrations/0009_ledger_alter_documentline_ledger.py
  website/accounting/models.py
  website/accounting/sync_database.py
  website/accounting/test_sync_database.py
Due: pydocstyle, pylint

Rename 'MB_state' to 'moneybird_state'
  website/inventory/fixtures/assets.yaml
  website/inventory/migrations/0005_rename_mb_state_asset_moneybird_state.py
  website/inventory/models.py
Due: pydocstyle, pylint

Use PROTECT instead of DO_NOTHING
  website/accounting/migrations/0009_ledger_alter_documentline_ledger.py
  website/accounting/models.py
Due: pydocstyle, pylint

Change CI to run all files through pre-commit
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/ci.yaml
Due: none

Convert JSON to HTML in admin
  poetry.lock
  pyproject.toml
  website/accounting/admin.py
Due: toml-sort, pydocstyle, pylint

Fix coverage reporting on templates
  website/website/settings/development.py
Due: pydocstyle, pylint
